<%= form_with model: @article do |form| %>
  <div class="max-w-2xl rounded-lg shadow-xl bg-gray-100", style="padding-right: 550px;
           padding-left: 18px;
           padding-top: 69px;
           padding-bottom: 78px;">
    <div style="margin-left: 580px;">
      <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="-space-y-px rounded-md shadow-sm">
            <h1 class="font-bold text-4xl" style="text-align: center;">New Article</h1><br>
            <div class="mb-4">
              <%= form.label :title,class:"block text-gray-700 text-sm font-bold mb-2"%>
              <%= form.text_field :title,class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
              <% @article.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div><br>
            <div class="mb-6">
              <%= form.label :body,class:"block text-gray-700 text-sm font-bold mb-2"%>
              <%= form.text_field :body,class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
              <% @article.errors.full_messages_for(:body).each do |message| %>
                <div><%= message %></div>
              <% end %><br><br>
            </div>
            <div class="flex justify-center mt-8">
              <div class="max-w-2xl rounded-lg shadow-xl bg-gray-50">
                <div class="m-4">
                  <label class="inline-block mb-2 text-gray-500">File Upload</label>
                  <div class="flex items-center justify-center w-full">
                    <label class="flex flex-col w-full h-32 border-4 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
                      <div class="flex flex-col items-center justify-center pt-7">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                        </svg>
                        <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                              Attach a file</p>
                      </div>
                       <%= form.file_field :image  %> 
                  </div>
                </div>
              </div>
            </div><br><br>
            <div class="flex justify-center p-2">
                  <%= form.submit "Save" , class:"w-full px-4 py-2 text-white bg-blue-500 rounded shadow-xl"%>
                </div><br><br>
                <div class="flex justify-center p-1" style="text-align: center;">
                  <%= link_to "Cancel",articles_path,class:"bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" %>
                </div>
            <div class= "flex flex-col items-center">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
